<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firstapp.robinpc.tongue_twisters">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".LEVEL1"
            android:label="@string/title_activity_level1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LEVEL2"
            android:label="@string/title_activity_level2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LEVEL3"
            android:label="@string/title_activity_level3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LEVEL4"
            android:label="@string/title_activity_level4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LEVEL5"
            android:label="@string/title_activity_level5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LEVEL6"
            android:label="@string/title_activity_level6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LEVEL7"
            android:label="@string/title_activity_level7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LEVEL8"
            android:label="@string/title_activity_level8"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LEVEL9"
            android:label="@string/title_activity_level9"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LEVEL10"
            android:label="@string/title_activity_level10"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ABOUT"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>